{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 banner-info-bg">
                                        <h5>Empowering Professional Bodies With Peddlesoft</h5>
                                        <p class="mt-md-4 mt-3">Smart Attendance, Contactless system for the new world
                                        </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2"
                                            href="https://play.google.com/store/apps/details?id=com.peddlesoft"> Google
                                            Playstore</a>
                                        <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2"
                                            href="https://apps.apple.com/app/id1540146678">
                                            Apple APPstore</a>
                                    </div>
                                    <div class="col-lg-5 col-md-8 img offset-lg-1 mt-lg-0 mt-4">
                                        <img src="{% static 'assets/images/card1.png' %}" alt="img"
                                            class="img-fluid radius-image-curve" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>

        </div>
    </div>
</section>
<!-- /main-slider -->
<!-- home page block1 -->
<section id="about" class="home-services pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-check-circle"></span>
                        </div>
                        <div class="info">
                            <p>More than</p>
                            <h4><a href="#url">32167</a></h4>
                            <h5>Attendance Checked</h5>
                        </div>
                    </div>
                    <p class="mt-4">If you are looking for
                        smart attendance app for professional bodies, to manage meetings, minutes & members. Our app is
                        the best option.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-user-o"></span>
                        </div>
                        <div class="info">
                            <p>More than</p>
                            <h4><a href="#url">5,000</a></h4>
                            <h5>Registered Members</h5>
                        </div>
                    </div>
                    <p class="mt-4">We offer membership management that helps organizations, to manage their members
                        records effectively</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-calendar-o"></span>
                        </div>
                        <div class="info">
                            <p>More than</p>
                            <h4><a href="#url">250</a></h4>
                            <h5> Events created</h5>
                        </div>
                    </div>
                    <p class="mt-4">We simplifies event management for everyone, irrespective of the size or location.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page block1 -->
<!-- about page about section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-7 mb-lg-0 mb-md-5 mb-4 align-self">
                    <h3 class=" mx-0">Founded in 2020 to introduce the new level of attendance management. We are still
                        dedicated to the success of our clients.</h3>

                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'contact' %}"> Learn More</a>
                </div>
                <div class="col-lg-5">
                    <div class="position-relative">

                        <img src="{% static 'assets/images/about.png' %}" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about page about section -->
<!-- /mobile section --->
<section class="w3l-mobile-content-6 py-5">
    <div class="mobile-info py-lg-5 py-md-4 py-2">
        <!-- /mobile-info-->
        <div class="container">
            <h6 class="title-small text-center">Features and advantages</h6>
            <h3 class="title-big mb-5 text-center">The Best Attendance Choice</h3>
            <div class="row mobile-info-inn mx-lg-0">
                <div class="col-lg-4 mobile-right text-right">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Mobile Apps</a></h6>
                            <p>Instant access to your account on any device using our apps.</p>
                        </div>
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-mobile"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Membership Due</a></h6>
                            <p>Set up and manage your monthly membership dues from the admin panel</p>
                        </div>
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-users"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Presentations </a></h6>
                            <p>Member can view papers that were presented during the meeting.</p>
                        </div>
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-book"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mobile-left px-lg-5">
                    <img src="{% static 'assets/images/mobile.png' %}" class="img-fluid radius-image" alt="">
                </div>
                <div class="col-lg-4 mobile-right">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Personal Profile</a></h6>
                            <p>Register your free personal profile online to begin using our services.</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-cogs"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Easy Account Setup</a></h6>
                            <p>Registered clients can edit the account settings in 2 clicks.</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-support"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">24/7 support</a></h6>
                            <p>Support team is always ready to help you solve any banking issues</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#book"> View more advanced features</a>
            </div> -->
        </div>
        <!-- //mobile-info-->
    </div>
</section>
<!-- //mobile section --->
<!-- forms -->
<section class="w3l-forms-9 py-5">
    <div class="container py-lg-3">
        <div class="row align-items-center">
            <div class="main-midd col-lg-7 text-lg-right">
                <h4 class="title-big">Create youe event Now!</h4>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-4">
                <a class="btn btn-style btn-dark" href="https://peddlesoft.com/admin"> Create event</a>
            </div>
        </div>
    </div>
</section>
<!-- //forms -->
<div class="w3l-ordercard py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big mb-5 text-center">How to create an event</h3>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-sign-in"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Login to admin dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Select meeting</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-pencil"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Typed the required details</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <div class="work-grids">
                    <div class="icon">
                        <span class="fa fa-credit-card"></span>
                    </div>
                    <div class="content">
                        <h4 class="title">Publish</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}